.row
  %div.col-lg-12
    %ul.breadcrumb
      %li
        = link_to "Home", root_url
      %li
        = link_to "Accounts", accounts_url
      %li
        = link_to @account.username, account_url(@account)
      %li
        = link_to @device.name, device_url(@device)
      %li.active= "Notifications"
    .page-header
      %h1#tables= "Notifications - #{@notification.name}"
    - if @notification.errors.any?
      .alert.alert-dismissable.alert-danger
        %button.close{:type => "button", :"data-dismiss" => "alert"}
        %h4= "Could not save"
        %ul
          - @notification.errors.full_messages.each do |msg|
            %li= msg
    - if flash[:notice]
      .alert.alert-dismissable.alert-success
        %button.close{:type => "button", :"data-dismiss" => "alert"}
        = flash[:notice]

.row
  %div.col-lg-6
    .panel.panel-default
      .panel-heading
        %h4#tables= "Settings"
      .panel-body
        = form_for [@device, @notification], :html => { :class => "form-horizontal" } do |f|
          %fieldset
            .form-group{:class => @notification.errors[:name].any? ? "has-error" : ""}
              = f.label :name, :class => "col-lg-2 control-label"
              .col-lg-10
                = f.text_field :name, :class => "form-control", :placeholder => "Notification name"
            .form-group{:class => @notification.errors[:active].any? ? "has-error" : ""}
              = f.label :active, :class => "col-lg-2 control-label"
              .col-lg-10
                = f.check_box :active, :class => "form-control", :placeholder => "Timeout in seconds"
            .form-group{:class => @notification.errors[:timeout].any? ? "has-error" : ""}
              = f.label :timeout, :class => "col-lg-2 control-label"
              .col-lg-10
                = f.text_field :timeout, :class => "form-control", :placeholder => "Time between notifications in seconds"
            .form-group{:class => @notification.errors[:max_seconds_within_range].any? ? "has-error" : ""}
              = f.label :max_seconds_within_range, :class => "col-lg-2 control-label"
              .col-lg-10
                = f.text_field :max_seconds_within_range, :class => "form-control", :placeholder => "Maximum seconds object can be in range before notification is sent"
            .form-group{:class => @notification.errors[:phone].any? ? "has-error" : ""}
              = f.label :phone, :class => "col-lg-2 control-label"
              .col-lg-10
                = f.text_field :phone, :class => "form-control", :placeholder => "Phone # that text will be sent to"
            .form-group{:class => @notification.errors[:message].any? ? "has-error" : ""}
              = f.label :message, :class => "col-lg-2 control-label"
              .col-lg-10
                = f.text_field :message, :class => "form-control", :placeholder => "Message that will be sent"
            .form-group
              .col-lg-10.col-lg-offset-2
                %button.btn.btn-primary{:type => "submit"}= "Submit"
                %button.btn.btn-default= "Cancel" 

  %div.col-lg-6
    .panel.panel-default
      .panel-heading
        %h4#tables= "Notification Log"
      .panel-body
        %table.table.table-striped.table-hover
          %tbody
            %tr
              %th= "ID"
              %th= "Date"
            - @notification.sent_notifications.each do |n|
              %tr>
                %td= n.id
                %td= n.created_at

