%html
  %head
    %title InhalerTracker
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{:href => "../"} InhalerTracker
          %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #navbar-main.navbar-collapse.collapse
          %ul.nav.navbar-nav
            /
              %li{:class => current_page?(accounts_url) ? 'active' : ''}
                = link_to "Accounts", accounts_url
              %li
                %a{:href => "http://news.bootswatch.com"} Blog
          %ul.nav.navbar-nav.navbar-right
            /
              %li
                %a{:href => "http://builtwithbootstrap.com/", :target => "_blank"} ???
    .container
      %section
        = yield
